body {
    background-image: url(../image/pic.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    max-width: 100%;
    color: white;
    }

form{
    font-size: 150%;
}

div{
  color: white;
  size: 150%;
  font-weight: bolder;
  font-family: cursive;
}

form{
  text-align: center;
  font-size: 150%;
  color: black;
  font-weight: bolder;
  width: 100%;
  font-family: cursive;  
}
